#grid-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  gap: 5px;
}

.grid-row {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.grid-square {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  cursor: grab;
}

.grid-square.sq-used {
  background-color: black;
  color: #303030;
  cursor: not-allowed;
}

.grid-square.sq-active:hover {
  background-color: #DDDDDD;
}

.grid-square.sq-selected {
  background-color: #8888FF;
}

.grid-square.sq-selected:hover {
  background-color: #AAAAFF;
}
